
.koulen-regular {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.kreon-400 {
  font-family: "Kreon", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}