
#user-table-div{
    position: absolute;
    left: 10px;
    top: 150px;
    text-align: end;
    min-width: fit-content;
    min-height: fit-content;
}

#user-form-div{
    position: absolute;
    top: 150px;
    left: 950px;
    text-align: end;
    min-width: fit-content;
    min-height: fit-content;
}

#user-table{
    display: block;
    position: relative;
    margin: 10px;
    text-align: center;
    min-width: fit-content;
    min-height: fit-content;
}

#user-table-header{
    color: aliceblue;
    background-color: rgb(91, 130, 132);
}

#user-table-body{
    color: black;
    background-color: rgb(216, 222, 222);
}

.userTablehdrSm{
    min-width: 30px;
}

.userTablehdrMd{
    min-width: 130px;
}

.userTablehdrLg{
    min-width: 300px;
}

.userTableItem:hover{
    background-color: rgb(184, 198, 211);
}

.userTableItemSelected{
    background-color: burlywood;
}

.userTableButton{
    min-width: 100px;
    min-height: 30px;
    background: #698294;
    margin: 5px;
}

#delete-user-button{
    margin-right: 15px;
}


.usrCtrlFormGroup{
    display: flex;
    flex-direction: row;
}

.usrCtrlFormLabel{
    font-size: 20px;
    color: rgb(11, 11, 11);
    text-align: right;
    margin-right: 20px;
    min-width: fit-content;
    min-height: fit-content;
}

.usrCtrlFormInput{
    min-width: 300px;
    min-height: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

#user-form-label-username{
   padding-left: 33px;
}

#user-form-label-password{
    padding-left: 38px;
}

#user-form-label-description{
    padding-left: 22px;
}

#user-form-label-usergroup{
    padding-left: 22px;
}

#user-form-input-description{
    min-width: 303px;
}

#user-form-input-usergroup{
    min-width: 310px;
}

#user-admin-chkbox{
    min-width: 25px;
    min-height: 25px;
    margin: 0px;
}

.userButton{
    min-width: 100px;
    min-height: 30px;
    background: #698294;
    margin: 5px;
}